.lmj-plant-item-cover {
	position: relative;
}

.lmj-plant-item-cover img{
	height: 250px;
	width: 250px;
	border-radius: 20px;
	object-fit: cover;
}

.lmj-plant-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	flex-grow: 1;
	text-transform: capitalize;
	margin: 10px;
}

.lmj-plant-item-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 20px;
}

.lmj-best {
  position: absolute;
	right: 0;
	top: 10px;
	font-weight: 500;
	color: white;
	padding: 5px 10px;
	background-color: #31b572;
}

.lmj-sales {
	position: absolute;
	right: 0;
	top: 50px;
	font-weight: 500;
	color: white;
	padding: 5px 15px;
	background-color: #31b572;
}