.lmj-plant-categories {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
}

.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}